#wrapper{
    height: 400px;
    width: 600px;
    padding: 40px;
    margin: auto;
    margin-top: 30px;
    border: 5px solid black;
}
/* 
.container{
    height: 50px;
    width: 600px;
    background-color: red;
    display: inline-block;
} */
